* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #eff3ff;
  }
  
  #card-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 14px solid #F7D02C;
    border-radius: 20px
  }
  .container {
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  #card {
      display: block;
      position: relative;
      width: 100%;
      height: 490px;
      margin-top: 240px;
      padding: 30px 20px;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      background-image: url('https://i.imgflip.com/4u047e.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  
  #card .img {
      display: block;
      width: 180px;
      max-height: 200px;
      position: relative;
      margin: 20px auto;
  }
  
  
  #search-button, #search-input {
      display: block;
      padding: 15px 60px;
      font-size: 18px;
      background-color: #101010;
      color: #ffffff;
      position: relative;
      margin: 30px auto;
      border: none;
      border-radius: 5px;
    }
  
    #search-button:hover {
      cursor: pointer;
      background-color: #202020;
      transform: translate(2px, 5px)
    }
  
    #search-input:focus {
      border: 2px solid #FF10
    }
  
    #search-input {
      text-align: center
    }
  
  tbody td {
    background-color: rgba(255,255,255,0);
    transition: all 0.2s linear; 
    transition-delay: 0.3s, 0s;
    opacity: 0.6;
  }
  tbody tr:hover td {
    background-color: rgba(255,255,255,1);
    transition-delay: 0s, 0s;
    opacity: 1;
    font-size: 1.5em;
  }
  
  td {
    transform-origin: center left;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }
  tr:hover td {
    transform: scale(1.1);
  }
  
  thead th {
    text-shadow: 1px 2px white
  }
  
  table {
    width: 90%;
    margin: 0 5%;
    text-align: center;
  }
  th, td {
    padding: 0.2em;
    text-align: left
  }
  
  .tablescroll {
    position: relative;
    top: 230px;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
  }
  
  .pokemonname {
    display: flex;
    gap: 10px;
    position: absolute;
    justify-content: center;
    left: 80px;
    top: 17px;
    /* background-color: #F7D02C; */
    width: 170px;
    border-radius: 20px 0px 20px 0px;
  }
  .weight {
    display: flex;
    gap: 10px;
    position: absolute;
    justify-content: center;
    left: 21px;
    top: 415px;
    /* background-color: #F7D02C; */
    width: 150px;
    border-radius: 20px 0px 20px 0px;
  }
  .height {
    display: flex;
    gap: 10px;
    position: absolute;
    justify-content: center;
    left: 21px;
    top: 445px;
    /* background-color: #F7D02C; */
    width: 135px;
    border-radius: 20px 0px 20px 0px;
  }
  
  .parent {
    position: absolute;
    left: 180px;
    top: 415px;
    /* background-color: #F7D02C; */
    width: 120px;
    height: 50px;
    border-radius: 10px 0px 10px 0px;
    transform: skew(-40deg);
  }
  
  .types {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content:center;
    place-items: center;
    left: 180px;
    top: 415px;
    width: 120px;
    height: 50px;
  }
  
  
  .imgcontainer {
    display: flex;
    position: absolute;
    justify-content: center;
    place-items: center;
    width: 290px;
    height: 195px;
    left: 31px;
    top: 49px;
  }
  
  .pokemonimage {
    position: relative;
    width: 90%;
  }