/* file: styles.css */
body {
    text-align: center;
    margin-top: 200px;
    font-family:  sans-serif;
    background-color: #A89B8C;
  }
  
  main {
    display:  absolute;
    margin-left: auto;
    margin-right: auto;
    border-radius:  30px;
    padding-top:  10px;
    padding-bottom: 30px;
    background-color: #EDF0DA;
    width:  60%;
    max-width:  500px;
    border-bottom: 5px solid black;
  
  }
  
  h3 {
    font-weight:  normal;
    font-size:  15px;
    padding-bottom: 10px;
  }
  
  #text-input {
    border: transparent;
    border-bottom:  1px solid black;
    margin-right:  20px;
    padding-right:  100px;
    background-color: transparent;
  }
  
  #check-btn {
    width:  90px;
    height: 30px;
    border-radius:  20px;
    border: transparent;
    background-color:  #AA4465;
    color:  white;
    cursor : pointer;
  }